.converterclass{
	width: 23%;
	border: 2px solid;
	margin-left: 36%;
	margin-top: 5%;
}

.input2 {
  background: #EEE8D5;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding-left: 3%;
}
.field{
	text-align: left;
	padding-top: 5%;
}
.link{
	float:right;
}
.disclaimer{
	background-color:#ddd;
	border: 1px solid;
	border-color:#ddd;
}

body{
	    width: 100%;
	display: inline-block;
}


h1{
  font-weight: normal;
  color: #475b62;
  font-size: 3.2rem;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
} 

input {
  margin: 0 8px;
  width: 55%;
  border-radius: 6px;
}

select {
    color: #475B62;
    width: 25%;
    padding: 0%;
    font-size: medium;
    margin-left: 5%;
}

@media only screen and (max-width: 768px) {
   
	.converterclass{
		width: 80%;
		border: 1px solid;
		margin-left: 5%;
		margin-right:5%;
		margin-top: 5%;
	}
}

