.Style {
  background: #EEE8D5;
  width: 97%;
  min-width: 290px;
  margin: 0 auto;
  text-align: left;
  padding-left: 11px
}
.field{
	text-align: left;
}
.link{
	float:right;
}
body{
	border: 1px solid;
	margin: 10% 33% auto !important;
	display: inline-block;
	margin: 0px auto;
}


h1{
  font-weight: normal;
  color: #475b62;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
} 

input {
  height: 21px;
  margin: 0 8px;
  width: 146px;
  border-radius: 6px;
}

select {
  padding: 4px  0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  border-radius: 10px;
  width: 80px;
  margin: 0 40px;
}



